* {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smoth-scroll;
}

body {
  text-align: center;
}

main {
  margin: auto;
  height: 100%;
}
.row {
  min-height: 100vh;
  gap: 15px;
}

svg {
  min-height: 300px;
}
